body{
    /* background-color: #727272; */
    font-family: 'Noto Serif', serif;
    background-image: url("https://d33wubrfki0l68.cloudfront.net/src/global/global-assets/ae289ecf82cce946871c9bde7ccf22b5088c6bf1/paper-bckg.png");
}


.info{
    background-color: #4186b4;
    width: fit-content;
    margin-left: 13%;
    transform: skew(20deg); 
}

h3{
font-size: 40px;
transform: skew(-20deg); 

}

#dataContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}
  .card {
    padding: 0 1rem;
    margin-bottom: 2em;
    width: 500px; 
    position: relative;   

  }

  .card .wrapper {
    min-height: 540px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s  ease-in-out;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
  }
  .card .wrapper:hover { 

    -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
    filter: grayscale(90%);
    /* filter: blur(5px); */

  }
  .card .wrapper:hover .data {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .card .data {
    margin-top:70px;
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s  ease-in-out;

  }
  .card .data .content {
    padding: 1em;
    position: relative;
    z-index: 1;
    letter-spacing:2px;
    bottom: -10px;
    

  }
  .card .author {
    font-size: 14px;
  }

  .card .text {
    margin: 0;
  }
  .card .header {
    color: #fff;
    padding: 1em;
  }
  .card .header .date {
    font-size: 20px;
  }
  .card .data {
    color: #fff;
    font-weight: bold;
  }
  .card .title a {
    color: #fff;
    text-decoration: none;
    font-size: 60px;
  }
  .card .rating{
    position: absolute;
    right: 7px;
    top: 15px;
  }
  .badge {
    padding: 10px 10px; /* pixel unit */
    border-radius: 50%;
    font-size:13px;
    text-align: center;
    background: #1779ba;
    color: #fefefe;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.7);
}
footer p{
    text-align: center;
    font-size: 1.4vw;
}